:root {
    --index: calc(1vw + 1vh);
}

.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ECECEC;
}

.welcome__image{
    width: 50%;
    height: 100vh;
    padding: calc(var(--index) * 5) calc(var(--index) * 1);
}

.doe__welcome{
    display: flex;
    justify-content: center;
}

.doe__welcome img{
    width: 50%;
    height: 50vh;
}

.svg__elipses{
    display: flex;
    justify-content: center;
}

.svg__elipses img{
    opacity: 0.4;
    width: 50%;
    height: calc(var(--index) * 6);
}

.welcome__text{
    width: 50%;
    height: 100vh;
    padding: calc(var(--index) * 5) calc(var(--index) * 1);
}

.welcome__text-main__hello{
    display: flex;
    justify-content: center;
}

.welcome__text-main__hello-text{
    width: 50%;
}

.welcome__text-main__hello-text h3{
    text-align: right;
    font-size: calc(var(--index) * 0.8);
}

.welcome__text-main__hello-text h2{
    text-align: right;
    font-size: calc(var(--index) * 1.5);
}

.welcome__text-main__hello-svg{
    width: 50%;
    opacity: 0.4;
}

.welcome__text-main__hello-svg img{
    width: 100%;
    height: calc(var(--index) * 5);
    object-fit: cover;
}

.welcome__text-p{
    height: 50vh;
    width: 100%;
    padding: calc(var(--index) * 2) calc(var(--index) * 1);
}

.welcome__text-p p{
    font-size: calc(var(--index) * 1);
}