@media (min-width: 761px) {
    @font-face {
        font-family: 'Montserrat-rus'; 
        src: url(/Montserrat-Alternates.ttf); 
    }
    
    :root {
        --index: calc(1vw + 1vh);
    }

    footer{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20vh;
        margin-top: 30px;
        background-color: rgb(0, 0, 0);
    }

    .foter__block{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 14vh;
        margin: calc(var(--index) * 1);
    }

    .foter__block-menu{
        display: flex;
        justify-content: center;
        width: calc(var(--index) * 23);
        height: 14vh;
    }

    .foter__block-menu ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .foter__block-menu a{
        height: calc(var(--index) * 2.6);
        border-radius: calc(var(--index) * 2.5);
        transition: 0.8s;
        padding: calc(var(--index) * 0.5);
        margin: 5px;
        text-align: center;
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #ffffff;
        font-size: calc(var(--index) * 0.6);
        cursor: pointer;
    }

    .foter__block-menu li a:hover{
        transition: 0.8s;
        color: rgb(255, 255, 255);
        background-color: #FFBD0C;
        border-radius: 50px;
    }

    .foter__block-street{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(var(--index) * 20);
        height: 12vh;
    }

    .foter__block-street a{
        height: calc(var(--index) * 2.6);
        border-radius: calc(var(--index) * 2.5);
        transition: 0.8s;
        
        text-align: center;
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #ffffff;
        font-size: calc(var(--index) * 0.55);
    }

    .foter__block-logo{
        display: flex;
        justify-content: right;
        width: calc(var(--index) * 20);
        height: 14vh;
    }

    .foter__block-logo img{
        width: calc(var(--index) * 12);
        height: calc(var(--index) * 2.5);
    }

    .foter__block-logo a{
        display: flex;
        height: calc(var(--index) * 2.6);
        border-radius: calc(var(--index) * 2.5);
        transition: 0.8s;
        
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #ffffff;
        font-size: calc(var(--index) * 0.55);
        cursor: pointer;
    }
}