

@media (max-width: 761px) {
    @font-face {
        font-family: 'Montserrat-rus'; 
        src: url(/Montserrat-Alternates.ttf); 
    }
    
    :root {
        --index: calc(1vw + 1vh);
    }

    footer{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60vh;
        background-color: rgb(0, 0, 0);
    }

    .foter__block{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 14vh;
        margin: calc(var(--index) * 1);
    }

    .foter__block-menu ul{
        list-style: none;
    }

    .foter__block-menu a{
        text-align: center;
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #FFBD0C;
        font-size: calc(var(--index) * 1);
        text-decoration: none;
        cursor: pointer;
    }

    .foter__block-street{
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 9vh;
    }

    .foter__block-street a{
        height: calc(var(--index) * 2.6);
        transition: 0.8s;
        
        text-align: center;
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #ffffff;
        font-size: calc(var(--index) * 1);
    }

    .foter__block-logo{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 100%;
        height: 14vh;
    }

    .foter__block-logo img{
        width: calc(var(--index) * 12);
        height: calc(var(--index) * 2.5);
    }

    .foter__block-logo a{
        display: flex;
        height: calc(var(--index) * 2.6);
        border-radius: calc(var(--index) * 2.5);
        transition: 0.8s;
        
        font-family: 'Montserrat-rus';
        font-weight: 600;
        color: #ffffff;
        font-size: calc(var(--index) * 0.55);
        cursor: pointer;
    }
}