@media (max-width: 761px) {
    @font-face {
        font-family: 'Montserrat-rus'; 
        src: url(/Montserrat-Alternates.ttf); 
    }

    :root {
        --index: calc(1vw + 1vh);
    }

    .main__container{
        width: 100%;
        height: 100vh;
    }

    .shadow__main{
        z-index: 1;
        position: absolute;
        background-color: #11111163;
        width: calc(var(--index) * 20);
        height: 92.5vh;
        top: 70px;
    }
    
    .main__button{
        z-index: 2;
        top: calc(var(--index) * 35);
        left: calc(var(--index) * 3);
        position: absolute;
    }

    .main__button h2{
        font-size: calc(var(--index) * 1.7);
        font-family: 'Montserrat-rus';
        color: white;
    }

    .main__button h1{
        font-size: calc(var(--index) * 2);
        font-family: 'Montserrat-rus';
        color: white;
    }

    .button__contact{
        font-size: calc(var(--index) * 2);
        background-color: #FFBD0C;
        color: black;
        font-family: 'Montserrat-rus';
        font-weight: 500;
        text-decoration: none;
        padding: 5px 20px;
    }

    .button__contact:hover{
        background-color: #b68808;
    }

    .main__container-header__layout{
        height: 70px;
        width: 100%;
        background-color: #5D5D5D;
        display: flex;
        /* background-image: url("/bd/getProjects.js"); */
    }

    .main__container-header__layout-logo {
        min-width: calc(var(--index) * 20);
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #11111163;
    }

    .main__container-header__layout-logo img{
        max-width: calc(var(--index) * 12);
        max-height: calc(var(--index) * 3);
    }

    nav{
        display: none;
    }
    
    .main__container-header__layout-dropdown{
        width: calc(var(--index) * 28);
        display: flex;
        justify-content: right;
    }

    .main__container-header__layout-dropbtn img{
        width: 50px;
        height: 50px;
        background-color: #00000000;
    }

    .main__container-header__layout-dropbtn{
        background-color: #00000000;
        border: medium none;
        border-spacing: 0;
    }
    
    

    .menu__drop{
        position: absolute;
        width: 200px;
        height: 250px;
        right: 0px;
        top: 50px;
        z-index: 3;
    }

    .main__container-header__layout-dropdown-content{
        background-color: #111111ec;
        width: 200px;
        height: 250px;
    }

    .main__container-header__layout-dropdown-content a{
        font-size: calc(var(--index) * 1.5);
        font-family: 'Montserrat-rus';
        color: white;
        text-decoration: none;
    }

    ul{
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        list-style-type: none;
    }

    ul li{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* nav{
        width: calc(var(--index) * 41);
        height: 70px;
    }
    
    nav ul{
        display: flex;
        justify-content: right;
        height: 70px;
        padding-left: 0px;
        margin: 0px;
        
    }

    nav ul li{
        width: calc(var(--index) * 10);
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li a{
        font-family: 'Montserrat-rus';
        font-size: calc(var(--index) * 0.5);
        padding-top: 10px;
        font-weight: 600;
        color: white;
        text-decoration: none;
    }

    li a:hover{
        color: rgb(175, 175, 175);
    } */
}