:root {
    --index: calc(1vw + 1vh);
}

.project__blocks{
    display: flex;
    justify-content: center;
}

.project{
    background-color: white;
}

.project__title{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.project__title-text{
    width: 30%;
}

.project__title-text h2{
    margin: 0px;
    margin-top: calc(var(--index) * 2);
    font-size: calc(var(--index) * 2);
    text-align: center;
}

.project__title-text h3{
    font-size: calc(var(--index) * 0.7);
    text-align: right;
}

.project__buttons{
    display: flex;
    justify-content: center;
}

.project__buttons button {
    text-decoration: none; /* Убираем стандартное подчеркивание текста */
    margin: 25px 15px;
    font-size: calc(var(--index) * 0.7); /* Добавляем отступы для кнопок */
    border: none; /* Убираем границу кнопок */
    cursor: pointer;
    background-color: transparent;
}
  
.project__buttons button.active {
    border-bottom: 3px solid #FFBD0C; /* Добавляем желтое подчеркивание к активной кнопке */
}


.projects{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project_block{
    position: relative;
    width: calc(var(--index) * 10);
    height: calc(var(--index) * 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project_block img{
    object-fit: cover;
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 9);
}

.project_block h3{
    transition: 0.3s;
    opacity: 0;
    display: block;
    margin-top: calc(var(--index) * 4);
    width: calc(var(--index) * 9);
    font-weight: 500;
    font-size: calc(var(--index) * 0.8);
    color: white;
    text-align: center;
    top: 0px;
    position: absolute;
}

.project_block:hover h3{
    transition: 0.3s;
    opacity: 1;
    cursor: pointer;
}

.project_block-img{
    transition: 0.5s;
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 9);
    top: 0px;
    position: absolute;
}

.project_block:hover .project_block-img{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.671);
    cursor: pointer;
}

.button__do{
    transition: 0.5s;
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 2);
    margin: 10px;

    border-radius: 50px;
    color: white;
    background-color: black;
}

.button__do:hover{
    transition: 0.5s;
    background-color: rgb(49, 49, 49);
}

.button__do-block{
    display: flex;
    justify-content: center;
}