@media (max-width: 761px) {
    :root {
        --index: calc(1vw + 1vh);
    }

    .welcome{
        width: 100%;
        height: 70vh;
        display: flex;
        background-color: #ECECEC;
    }

    .welcome__image{
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 40);
        padding: calc(var(--index) * 5) calc(var(--index) * 1);
    }

    .doe__welcome{
        display: flex;
        justify-content: center;
    }

    .doe__welcome img{
        width: 200px;
        height: 200px;
    }

    .svg__elipses{
        display: flex;
        justify-content: center;
    }

    .svg__elipses img{
        opacity: 0.4;
        width: 200px;
        height: 100px;
    }

    .welcome__text{
        width: 50%;
        height: 50vh;
        padding: calc(var(--index) * 5) calc(var(--index) * 1);
    }

    .welcome__text-main__hello{
        display: flex;
        justify-content: center;
    }

    .welcome__text-main__hello-text{
        width: 50%;
        line-height: 20px;
        padding-right: 5px;
    }

    .welcome__text-main__hello-text h3{
        text-align: right;
        font-size: calc(var(--index) * 0.8);
    }

    .welcome__text-main__hello-text h2{
        text-align: right;
        font-size: calc(var(--index) * 1.5);
        line-height: 0px;
        background-color: antiquewhite;
    }

    .welcome__text-main__hello-svg{
        width: 50%;
        opacity: 0.4;
        padding-left: 10px;
    }

    .welcome__text-main__hello-svg img{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .welcome__text-p{
        height: 50vh;
        width: 100%;
    }

    .welcome__text-p p{
        text-align: justify;
        font-size: calc(var(--index) * 1);
    }
}